<section class="index form">
    <div class="container d-flex justify-content-center align-items-center h-100">
       <div class="modal-dialog modal-notify px-5" role="document">
        <form method="POST" action=/chat/{{user.id}} >
            <div class="modal-content elegant-color">
                <!--Header-->
                <div class="modal-header elegant-color-dark text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Join AbuzGram</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>
                <!--Body-->
                
                <div class="modal-body">
                    <div class="md-form mb-5">
                        <i class="far fa-user prefix white-text"></i>
                        <input type="text" value={{user.name}} id="form1" name="name" class="form-control validate white-text">
                        <label class="white-text active" data-error="wrong" data-success="right" for="form1">Your
                            name</label>
                    </div>
                    <div class="md-form mb-5">
                        <i class="fas fa-door-open white-text prefix"></i>
                        <input type="text" id="form3" value={{user.select}}  name="select" class="form-control validate dropdown-toggle white-text"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <label class="white-text active"  data-error="wrong" data-success="right" for="form3">
                            Select a room name</label>
                        <div class="dropdown-menu dropdown-primary">
                            <a class="dropdown-item input_drop">Action</a>
                            <a class="dropdown-item input_drop">Another action</a>
                            <a class="dropdown-item input_drop">Something else here</a>
                            <a class="dropdown-item input_drop">Something else here</a>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-center border-0">
                        <input type="file" name="accountImg" id="file" style="display: none;">
                        <label class="btn elegant-color-dark waves-effect text-white" for="file">uptade your photo <i class="fas fa-cloud-upload-alt white-text ml-1"></i></label>   
                        <div class="valImg">
                            <img src=/images/{{user.img}} alt="" style="width:100px;" class="rounded-circle img-fluid">
                        </div>
                    </div>
                    <!--/Blue select-->
                    <!--Message-->
                </div>
                
                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn elegant-color-dark waves-effect text-white">Send <i
                    class="far fa-paper-plane ml-1"></i></button>
                </div>
            </div>
        </form>

        <!--/.Content-->
    </div>
    </div>
</section>

    