<section class="chat">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-lg-3 p-0 h-100">
                <div class="roomArea">
                    <div class="heading">
                        <img src="/images/logo.png" alt="" class="logoHeading">
                        <h1>
                            buzGram
                        </h1>
                    </div>
                    <div class="rooms">
                        <h2>Room name</h2>
                        <div class="roomName">
                            <span>MERN Group</span>
                        </div>
                    </div>
                    <div class="users">
                        <div class="headingUser">
                            <h3>Users</h3>
                        </div>
                        <ul class="usersParent">
                            {{#each user}}
                            <li class="waves-effect">
                                <a href=/chat/{{this._id}}><img src=/images/{{this.accountImg}} alt="" style="width: 50px;height: 50px; border-radius: 50%; margin-right:15px">{{this.name}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 p-0">
                <div class="functionNav elegant-color-dark d-flex justify-content-end align-items-center" style="z-index: 999;">
                    <div class="md-form">
                        <a class="btn" id="clickBtnDopFunction">
                            <i class="fas fa-ellipsis-v white-color"></i>
                        </a>
                        <ul class="dopFunctionTable">
                            <li>
                                <a href="/logout" class="btn btn-elegant">Logaut</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="chatArea">

                </div>
                <form class="elegant-color-dark send_form">
                    <div class="row m-0 flex-nowrap align-items-center justify-content-center">
                        <div class="md-form w-75">
                            <input type="text" id="messageinp" class="form-control white-text">
                            <label for="messageinp">Send message</label>
                        </div>
                        <button id="preventButton" type="submit" class="white-text btn blue darken-3">
                            send
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
    <script src="./javascripts/qs.js" ></script>
    <script src="./socket.io/socket.io.js"></script>