<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel='stylesheet' href='/mdbootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/mdbootstrap/css/mdb.min.css' />
    {{!-- <link rel='stylesheet' href='/stylesheets/customaze.css' /> --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body id="app">
    {{{body}}}
    <script src="./mdbootstrap/js/jquery.min.js"></script>
    <script src="./mdbootstrap/js/popper.min.js"></script>
    <script src="./mdbootstrap/js/bootstrap.min.js"></script>
    <script src="./mdbootstrap/js/mdb.min.js"></script>
    <script src="./javascripts/main.js"></script>
    <script src="./javascripts/socket.js"></script>
    
  </body>
</html>
